@font-face {
    font-family: Jaro;
    src: url(../fonts/Jaro-Regular-VariableFont_opsz.ttf);
}

@font-face {
    font-family: Reggae;
    src: url(../fonts/ReggaeOne-Regular.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}