@import url(fonts.css);

main{
    background: linear-gradient(rgba(255, 255, 255, 0.726),rgba(255, 255, 255, 0.726)),url(../media/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-section{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-para-start{
    font-family: sans-serif;
}

.main-para-start h1{
    font-size: 12rem;
    font-family: Reggae;
    font-weight: 100;
    transition: 1.3s ease-out;
    background: url(../media/text-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main-para-start #myName{
    font-size: 4rem;
    transition: 1s;
}

.main-para-start button{
    margin-top: 40px;
    padding: 10px 20px;
    background: transparent;
    outline: none;
    border: solid 2px green;
}

.main-para-start button:active{
    transform: scale(0.96);
}

.extra-show{
    transition: 3s;
    opacity: 0;
}


.main-para-start h1.back{
    transform: translateX(-500%);
}

.main-para-start #myName.sideGo{
    transform: translateX(500%);
}





/* Home Page Dark Theme */

.theme .main-content *{
    color: white;
}

.theme .main-content .main-para-start *{
    text-shadow: 0 0px 2px rgb(255, 255, 255);
}

.theme main{
    background: linear-gradient(rgba(0, 0, 0, 0.26),rgba(5, 5, 5, 0.26)),url(../media/bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.theme nav *{
    color: white;
}

.theme #list{
    color: white;
}

/************************/



@media screen and (max-width: 414px) {
    .main-para-start h1{
        font-size: 8rem;
    }

    .hidden-nav-center{
        max-width: 50vw;
        max-height: 50vh;
    }
}

@media screen and (max-width: 320px) {
    .main-para-start h1{
        font-size: 4rem;
    }

    .main-para-start #myName{
        font-size: 1rem;
    }
}
